language: go
go:
  - "1.13.x"

sudo: required

env:
  - GO111MODULE=on

branches:
  only:
    - master

install:
  - bash scripts/models.sh

script:
  - go test -v ./... -count=1

# TODO sonarcloud c++